
<app-navbar-log></app-navbar-log>
<br>

<div class="jumbotron jumbotron-fluid fadeIn" style="background-image:url('../assets/img/Carousel/lup2.jpg');">
  <div class="container">
    <h1 class="display-4" style="color:white;">Empresa por categoría</h1>

  </div>
</div>

<div class="container margen-arriba">

  <div class="row">
    <div class="col-lg-11">
       <input class="form-control" type="search" placeholder="Search" aria-label="Search">
    </div>
    <div class="col-lg-1">
       <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </div>
  </div>

   <br>

  <div class="card-deck">
    <div class="card" (click)="CatEmpresa()">
      <img class="card-img-top" src="../assets/img/Carousel/lup2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Tecnología</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Cantidad 5</small>
      </div>
    </div>
    <div class="card" (click)="CatEmpresa()">
      <img class="card-img-top" src="../assets/img/Carousel/lup2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Artesanal</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Cantidad 2</small>
      </div>
    </div>
    <div class="card" (click)="CatEmpresa()">
      <img class="card-img-top" src="../assets/img/Carousel/lup2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Emprendimientos</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Cantidad 6</small>
      </div>
    </div>

    <div class="card" (click)="CatEmpresa()">
      <img class="card-img-top" src="../assets/img/Carousel/lup2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Educacion</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Cantidad 4</small>
      </div>
    </div>
  </div>
<br>
  <div class="card-deck">
    <div class="card" (click)="CatEmpresa()">
      <img class="card-img-top" src="../assets/img/Carousel/lup2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Comida</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Cantidad 1</small>
      </div>
    </div>
    <div class="card" (click)="CatEmpresa()">
      <img class="card-img-top" src="../assets/img/Carousel/lup2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Artesanal</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Cantidad 2</small>
      </div>
    </div>
    <div class="card" (click)="CatEmpresa()">
      <img class="card-img-top" src="../assets/img/Carousel/lup2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Emprendimientos</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Cantidad 6</small>
      </div>
    </div>

    <div class="card" (click)="CatEmpresa()">
      <img class="card-img-top" src="../assets/img/Carousel/lup2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Educacion</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Cantidad 4</small>
      </div>
    </div>
  </div>

 </div>
