<app-navbar-in></app-navbar-in>
<br>
<div class="jumbotron jumbotron-fluid fadeIn" style="background-image:url('../assets/img/Carousel/lup2.jpg');">
  <div class="container">
    <h1 class="display-4" style="color: white;">Crear cuenta</h1>
  </div>
</div>

<div class="container margen-arribaY">
    <div class="row">
      <div class="col-lg-6">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <form>

              <div class="form-group">
                <label for="exampleInputEmail1">Nombre</label>
                <div class="row">
                  <div class="col-6">
                    <input type="input" class="form-control" id="exampleInputEmail7" aria-describedby="emailHelp" placeholder="Nombres">
                  </div>
                  <div class="col-6">
                    <input type="email" class="form-control" id="exampleInputEmail6" aria-describedby="emailHelp" placeholder="Apellidos">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail15" aria-describedby="emailHelp" placeholder="Enter email">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputEmail14" aria-describedby="emailHelp">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Confirmar Contraseña</label>
                <input type="password" class="form-control" id="exampleInputEmail13" aria-describedby="emailHelp">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Fecha Nacimiento</label>
                <input type="date" class="form-control" id="exampleInputEmail12" aria-describedby="emailHelp">
              </div>

              <div class="form-group">
                <label for="exampleFormControlSelect1">Pais</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Guatemala</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>

            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
          <img src="../assets/img/Carousel/lup3.jpg" class="img-fluid" alt="Responsive image">
          <h1 class="display-4">Registrate con:</h1><hr>
          <button type="button" class="btn btn-info btn-block">Facebook</button><br>
          <button type="button" class="btn btn-danger btn-block">Google</button>
      </div>
    </div>
</div>

<br>

<app-footer></app-footer>
