<div class="card">
  <div class="card-header">
    SEO
  </div>
  <div class="card-body">
    <h5 class="card-title">Crece importancia del SEO para las empresas </h5>
    <p class="card-text">El objetivo principal del trabajo SEO es generar un mayor número de visitas, que luego se puedan traducir en más ventas y, por añadidura, en mejores ingresos.

Por lo anterior, y en opinión de Leonardo Rodríguez, gerente de Planificación Digital de Prensa Libre, los beneficios en tráfico orgánico no están siendo bien aprovechados por las empresas corporativas, porque un SEO bien establecido ayudará a que los negocios sean más rentables.

Por lo anterior, es imprescindible aparecer entre los primeros resultados arrojados por los principales buscadores, para que un negocio sea visible para su público objetivo, dado que se ha comprobado que los usuarios no ven más allá de las tres primeras páginas de resultados.</p>
      <img class="promo-size img-thumbnail contenedor" src="../assets/img/Carousel/lup3.jpg" alt="">
  </div>
</div>

<br>

<div class="card">
  <div class="card-header">
    SAT y Mineco
  </div>
  <div class="card-body">
    <h5 class="card-title">SAT y Mineco preparan dictámenes para Ley de Zonas Francas </h5>
    <p class="card-text">
        La Superintendencia de Administración Tributaria (SAT) informó que el sacrificio fiscal correspondiente al ejercicio 2016 fue de Q248 millones, en medio de la discusión de las reformas a la ley de Zonas Francas en el Congreso.
    </p>
      <img class="promo-size img-thumbnail contenedor" src="../assets/img/Carousel/lup1.jpg" alt="">
  </div>
</div>

<br>

<div class="card">
  <div class="card-header">
    Mina
  </div>
  <div class="card-body">
    <h5 class="card-title"> Inoperancia de mina puede afectar crecimiento económico de Guatemala </h5>
    <p class="card-text">
        La suspensión de las operaciones de la minera San Rafael, subsidiaria de la canadiense Tahoe Resources, puede afectar el crecimiento de la economía de Guatemala, advirtió hoy el presidente del Banco de Guatemala (Central), Sergio Recinos.
    </p>
  </div>
</div>

<br>

<div class="card">
  <div class="card-header">
    Mina
  </div>
  <div class="card-body">
    <h5 class="card-title"> Inoperancia de mina puede afectar crecimiento económico de Guatemala </h5>
    <p class="card-text">
        La suspensión de las operaciones de la minera San Rafael, subsidiaria de la canadiense Tahoe Resources, puede afectar el crecimiento de la economía de Guatemala, advirtió hoy el presidente del Banco de Guatemala (Central), Sergio Recinos.
    </p>
      <img class="promo-size img-thumbnail contenedor" src="../assets/img/Carousel/lup2.jpg" alt="">
  </div>
</div>
